body {
  font-family: Arial, sans-serif;
  background-color: #b9def6;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

.title {
  text-align: center;
}

.categories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.category {
  background-color: #fff;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-icon {
  font-size: 40px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #fff;
  border: black;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 0%;
  margin: 0 auto 10px;
  object-fit: cover;
  object-position: center;
}

.card h4 {
  font-size: 1.2rem;
  margin: 0;
}

.selected {
  transform: scale(1.2);
}

